header{
    background:#3484fa;
    color: #000;
    height: 100px;
}
.a1{
    color: black;
    height: 55px;
    padding: 18px ;
    padding-left: 300px;
    padding-right: 300px;
    
}
h1{
    color: white;
}
.a2{
    background-color: silver;
    position: relative;
    top: 20px;
    width: 70px;
    text-align: center;
    padding: 7px;
    
}
.row{

    position: relative;
    top: 3px;
    width: 400px;
    left: 40px;
}
.inici{
    position: relative;
    top: 10px;
}
input{
    
    color: white;
    width: 270px;
}

input:hover{
 
    border-radius: 20px;
    border: rgb(0, 0, 0);
    border-collapse: initial;
    border-top-left-radius: rgb(35, 106, 173);
}