
  .a1{
    position: relative;
      padding: 2px;
      top: 20px;

  }

  .a2{
      position: relative;
      top: 20px;
      width: 40px;
      height: 470px;
      padding: 20px 40px ;
      background: center;
      background-color: silver;
  }
  .in1{
      left: 16px;
  }
  .gur{
      position: relative;
      padding: 2px;
      top: 30px;
      left: 260px;
  }

  input:hover{
      background-color: rgb(112, 204, 207);
  }
  input .img:hover{
    background-color: blue;
  }
  .imge{
    text-align: center;
    
    padding: 6px;
    position: relative;
    top: 30px;

  }